# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will use the watchlist you created to answer these questions:

1. **Which streaming services contain the shows you want to watch next?**
2. **Which streaming service is the best value based on the shows you want to watch?**

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. 

**Remember**: we learned in our prep work that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell. You will need 10 shows overall.

1. Friends
2. The Walking Dead
3. Breaking Bad
4. How I met your mother
5. Seinfeld
6. Big Bang Theory
7. Gilmore Girls
8. One Tree Hill
9. Grey's Anatomy
10. ER

## Database Setup

Import the necessary libraries and create a dataframe from the provided CSV. 

Print the info out for the dataframe. 

After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces or unusual characters in the names such as `"Disney+"`. 

Print out the info for the dataframe again to ensure your changes were made.

In [53]:
# Code here
import numpy as np
import pandas as pd
import sqlite3 as sl

# df = pd.read_csv('tv_shows.csv')
# df = df.drop('Unnamed: 0', axis=1)
# df = df.rename(columns={'Rotten Tomatoes':'rotten_tomatoes', 'Prime Video':'prime_video', 'Disney+':'disney_plus'})
df.head(10)

,ID,Title,Year,Age,IMDb,rotten_tomatoes,Netflix,Hulu,prime_video,disney_plus,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1

With your dataframe at the ready, create a new database called `tv.db`. 

Add a new table to your database called `shows` using the data in the dataframe.

In [82]:
# Code here
tv_db = sl.connect('tv.db')
cur = tv_db.cursor()

With your new table and database set up, print out the top 20 records in the `shows` table.

In [23]:
# Code Here
df.to_sql('df',tv_db, if_exists='replace')
with tv_db:
    tv_db.execute(
        """
        create table shows as
        select * from df
        """
    )

(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(4, 5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(5, 6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(6, 7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(7, 8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(8, 9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(9, 10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(10, 11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(11, 12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(12, 13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(13, 14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(14, 15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(15, 16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(16, 17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(17, 18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(18, 19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(19, 20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now, create a new table called `watchlist` that has three fields:
1. id -> data type of `INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT`
2. title -> data type of `TEXT`
3. importance_rank -> data type of `INTEGER`

For the `importance_rank` field, rank each of your watchlist shows based on how much you want to see them, `10` being the most important and `1` being the least important.

Then, insert each of the items from your watchlist into the new `watchlist` table, using the `executemany` method from our exercises.

Finally, select all the records from the `watchlist` table and print them out to the console.

In [48]:
# Code here
with tv_db:
    tv_db.executescript("""
        BEGIN;
        CREATE TABLE watchlist (id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT, title TEXT, importance_rank INTEGER);
        COMMIT
    """)

new_table_content = 'INSERT INTO watchlist (title, importance_rank) VALUES(?, ?)'
data = [
    ('Friends',1),
    ('The Walking Dead',2),
    ('Breaking Bad',3),
    ('How I Met Your Mother',4),
    ('Seinfeld',5),
    ('Big Bang Theory',6),
    ('Gilmore Girls',7),
    ('One Tree Hill',8),
    ("Grey's Anatomy",9),
    ('ER',10)
]

with tv_db:
    tv_db.executemany(new_table_content, data)

In [49]:
# Code here
with tv_db:
    data = tv_db.execute("SELECT * FROM watchlist")
    for row in data:
        print(row)

(1, 'Friends', 1)
(2, 'The Walking Dead', 2)
(3, 'Breaking Bad', 3)
(4, 'How I Met Your Mother', 4)
(5, 'Seinfeld', 5)
(6, 'Big Bang Theory', 6)
(7, 'Gilmore Girls', 7)
(8, 'One Tree Hill', 8)
(9, "Grey's Anatomy", 9)
(10, 'ER', 10)

In [50]:
# Code here
tv_db.close()

## Working with the Data

Using Pandas or SQL, find the answer to these 2 questions:
1. How many of the total shows (full csv list) are on each streaming service?
2. What percentage of these total shows is available on each streaming service?

**Hint**:

Use the pandas `query` method to filter the data, and then the Python `len` method to find it's length. [Relevant Link](https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/)

In [74]:
# Code here
show_total = df['Title'].count()

netflix_total = df['Netflix'].sum()
netflix_percent = (netflix_total/show_total * 100).round(2)
print('The total shows on Netflix is:',netflix_total)
print('The percentage for Netflix is:',netflix_percent)

hulu_total = df['Hulu'].sum()
hulu_percent = (hulu_total/show_total * 100).round(2)
print('The total shows on Hulu is:',hulu_total)
print('The total percentage for Hulu is:',hulu_percent)

prime_total = df['prime_video'].sum()
prime_percent = (prime_total/show_total * 100).round(2)
print('The total shows on Prime Video is:',prime_total)
print('The total percentage for Prime Video is:',prime_percent)

disney_total = df['disney_plus'].sum()
disney_percent = (disney_total/show_total * 100).round(2)
print('The total shows on Disney+ is:', disney_total)
print('The total percent for Disney+ is:',disney_percent)

The total shows on Netflix is: 1971
The percentage for Netflix is: 36.72
The total shows on Hulu is: 1621
The total percentage for Hulu is: 30.2
The total shows on Prime Video is: 1831
The total percentage for Prime Video is: 34.11
The total shows on Disney+ is: 351
The total percent for Disney+ is: 6.54


Now join your `watchlist` data to the `shows` data using pandas or SQL. Verify that you joined the data correctly.

Using this related dataset, come up with analytic code that answers these questions:
1. The number of watchlist shows each streaming service has
2. The percentage of your overall watchlist each streaming service has

In [84]:
# Code here
with tv_db:
    cur.execute("""
        SELECT shows.Title, shows.Netflix, shows.Hulu, shows.prime_video, shows.disney_plus
        FROM shows
        INNER JOIN watchlist
        ON shows.Title = watchlist.title
        """)
rows = cur.fetchall()
for row in rows:
    print(row)

('Breaking Bad', 1, 0, 0, 0)
('The Walking Dead', 1, 0, 0, 0)
("Grey's Anatomy", 1, 1, 0, 0)
('Gilmore Girls', 1, 0, 0, 0)
('Seinfeld', 0, 1, 0, 0)
('How I Met Your Mother', 0, 1, 1, 0)
('One Tree Hill', 0, 1, 0, 0)
('ER', 0, 1, 0, 0)

In [95]:
# Code here
with tv_db:
    cur.execute("""
    SELECT 
        SUM(shows.Netflix) AS netflix_count,
        SUM(shows.Hulu) AS hulu_count,
        SUM(shows.prime_video) AS primevideo_count,
        SUM(shows.disney_plus) AS disneyplus_count
    FROM shows
    INNER JOIN watchlist
    ON shows.Title = watchlist.title;
""")
rows = cur.fetchall()
for row in rows:
    print(row)

(4, 5, 1, 0)

In [94]:
# Code here
with tv_db:
    cur.execute("""
    SELECT 
        SUM(shows.Netflix) AS netflix_count,
        SUM(shows.Hulu) AS hulu_count,
        SUM(shows.prime_video) AS primevideo_count,
        SUM(shows.disney_plus) AS disneyplus_count
    FROM shows
    INNER JOIN watchlist
    ON shows.Title = watchlist.title;
    """)

watchlist_total = 10
result = cur.fetchone()

netflix_count = result[0]
hulu_count = result[1]
prime_video_count = result[2]
disney_plus_count = result[3]

netflix_watchlist_percent = netflix_count/watchlist_total * 100
print('The percentage of my watchlist on Netflix is:',netflix_watchlist_percent)
hulu_watchlist_percent = hulu_count/watchlist_total * 100
print('The percentage of my watchlsit on Hulu is:',hulu_watchlist_percent)
prime_video_percent = prime_video_count/watchlist_total * 100
print('The percentage of my watchlist on Prime Video is:',prime_video_percent)
disney_watchlist_percent = disney_plus_count/watchlist_total * 100
print('The percentage of my watchlist on Disney+ is:',disney_watchlist_percent)

The percentage of my watchlist on Netflix is: 40.0
The percentage of my watchlsit on Hulu is: 50.0
The percentage of my watchlist on Prime Video is: 10.0
The percentage of my watchlist on Disney+ is: 0.0

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?

- Yes they were all on the dataset. If they werent it could be because the dataset is outdated or i spelled something differently.

2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?

- Not to my knowledge but it would have skewed the analysis towards that platform.

3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?

- Hulu offered them ost at 50% while Disney+ offered a grand 0%.

4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?

- Hulu would have the most content im interested in watching.

# Bonus Mission

We didn't end up using that `importance_rank` field, did we?

Well, that was intentional! 

Your bonus mission is to come up with analysis that uses that field to determine, based on watchlist show importance_rank and number of watchlist shows available on a service, which platform you should subscribe to.

In [ ]:
# Code Here